<h1>Listing car_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @car_types.each do |car_type| %>
  <tr>
    <td><%= car_type.name %></td>
    <td><%= link_to 'Show', car_type %></td>
    <td><%= link_to 'Edit', edit_car_type_path(car_type) %></td>
    <td><%= link_to 'Destroy', car_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car type', new_car_type_path %>
