<%= form_for(@sub_car) do |f| %>
  <% if @sub_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_car.errors.count, "error") %> prohibited this sub_car from being saved:</h2>

      <ul>
      <% @sub_car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br />
     <%=  collection_select(:sub_car, :car_id, Car.all, :id, :name , options ={:prompt => ""} ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
