<h1>Listing sub_cars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Car</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_cars.each do |sub_car| %>
  <tr>
    <td><%= sub_car.name %></td>
    <td><%= sub_car.car_id %></td>
    <td><%= link_to 'Show', sub_car %></td>
    <td><%= link_to 'Edit', edit_sub_car_path(sub_car) %></td>
    <td><%= link_to 'Destroy', sub_car, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub car', new_sub_car_path %>
