<h1>Listing moto_town_type_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Moto domicile type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moto_town_type_sections.each do |moto_town_type_section| %>
  <tr>
    <td><%= moto_town_type_section.name %></td>
    <td><%= moto_town_type_section.moto_domicile_type_id %></td>
    <td><%= link_to 'Show', moto_town_type_section %></td>
    <td><%= link_to 'Edit', edit_moto_town_type_section_path(moto_town_type_section) %></td>
    <td><%= link_to 'Destroy', moto_town_type_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moto town type section', new_moto_town_type_section_path %>
