<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_town_type_section.name %>
</p>

<p>
  <b>Moto domicile type:</b>
  <%= @moto_town_type_section.moto_domicile_type_id %>
</p>


<%= link_to 'Edit', edit_moto_town_type_section_path(@moto_town_type_section) %> |
<%= link_to 'Back', moto_town_type_sections_path %>
