<h1>Listing moto_models</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Moto make</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moto_models.each do |moto_model| %>
  <tr>
    <td><%= moto_model.name %></td>
    <td><%= moto_model.moto_make_id %></td>
    <td><%= link_to 'Show', moto_model %></td>
    <td><%= link_to 'Edit', edit_moto_model_path(moto_model) %></td>
    <td><%= link_to 'Destroy', moto_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moto model', new_moto_model_path %>
