<%= form_for(@car_power) do |f| %>
  <% if @car_power.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_power.errors.count, "error") %> prohibited this car_power from being saved:</h2>

      <ul>
      <% @car_power.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
