<%= form_for(@boat_weight) do |f| %>
  <% if @boat_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat_weight.errors.count, "error") %> prohibited this boat_weight from being saved:</h2>

      <ul>
      <% @boat_weight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
