<h1>Listing type_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vehicle class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_sections.each do |type_section| %>
  <tr>
    <td><%= type_section.name %></td>
    <td><%= type_section.vehicle_class_id %></td>
    <td><%= link_to 'Show', type_section %></td>
    <td><%= link_to 'Edit', edit_type_section_path(type_section) %></td>
    <td><%= link_to 'Destroy', type_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type section', new_type_section_path %>
