<p id="notice"><%= notice %></p>

<h2>Vehicle info
</h2>
<div style="width:200px">
<div style="background-color:white">
 
<td style="background-color:orange;width:100px;text-align:top;">

 <%= @ad.type %>
</p>

<p>
  <b>Make:</b>
  <%= @ad.make %>
</p>

<p>
  <b>Model:</b>
  <%= @ad.model %>
</p>

<p>
  <b>Subtype:</b>
  <%= @ad.subtype %>
</p>
<p>
  <b>Yearmodel:</b>
  <%= @ad.yearmodel %>
</p>

<p>
  <b>Registration:</b>
  <%= @ad.registration %>
</p>

<p>
  <b>Inspectiondate:</b>
  <%= @ad.inspectiondate %>
</p>

<p>
  <b>Color:</b>
  <%= @ad.color %>
</p>

<p>
  <b>Colortype:</b>
  <%= @ad.colortype %>
</p>

<p>
  <b>Price:</b>
  <%= @ad.price %>
</p>

<p>
  <b>Registernumber:</b>
  <%= @ad.registernumber %>
</p>
</div>

<p>
  <b>Information:</b>
  <%= @ad.information %>
</p>

<p>
  <b>Mileage:</b>
  <%= @ad.mileage %>
</p>

<p>
  <b>Enginesize:</b>
  <%= @ad.enginesize %>
</p>

<p>
  <b>Drivetype:</b>
  <%= @ad.drivetype %>
</p>

<p>
  <b>Fuel:</b>
  <%= @ad.fuel %>
</p>

<p>
  <b>Transmission:</b>
  <%= @ad.transmission %>
</p>

<p>
  <b>Power:</b>
  <%= @ad.power %>
</p>

<p>
  <b>Emission:</b>
  <%= @ad.emission %>
</p>

<p>
  <b>Topspeed:</b>
  <%= @ad.topspeed %>
</p>

<p>
  <b>Acceleration:</b>
  <%= @ad.acceleration %>
</p>

<p>
  <b>Consumption:</b>
  <%= @ad.consumption %>
</p>

<p>
  <b>Weight:</b>
  <%= @ad.weight %>
</p>

<p>
  <b>Domicile:</b>
  <%= @ad.domicile %>
</p>

<p>
  <b>Town:</b>
  <%= @ad.town %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
