<p id="notice"><%= notice %></p>

<p>
  <b>Caravan type:</b>
  <%= @caravan_post.caravan_type_id %>
</p>

<p>
  <b>Caravan make section:</b>
  <%= @caravan_post.caravan_make_section_id %>
</p>

<p>
  <b>Caravan model section:</b>
  <%= @caravan_post.caravan_model_section_id %>
</p>

<p>
  <b>Caravan cover image uid:</b>
  <%= @caravan_post.caravan_cover_image_uid %>
</p>

<p>
  <b>Caravan cover image name:</b>
  <%= @caravan_post.caravan_cover_image_name %>
</p>

<p>
  <b>Caravan year model:</b>
  <%= @caravan_post.caravan_year_model %>
</p>

<p>
  <b>Caravan asking price:</b>
  <%= @caravan_post.caravan_asking_price %>
</p>

<p>
  <b>Caravan total owner:</b>
  <%= @caravan_post.caravan_total_owner %>
</p>

<p>
  <b>Caravan length:</b>
  <%= @caravan_post.caravan_length %>
</p>

<p>
  <b>Caravan dead weight:</b>
  <%= @caravan_post.caravan_dead_weight %>
</p>

<p>
  <b>Caravan gross weigt:</b>
  <%= @caravan_post.caravan_gross_weigt %>
</p>

<p>
  <b>Caravan information:</b>
  <%= @caravan_post.caravan_information %>
</p>

<p>
  <b>Caravan mileage:</b>
  <%= @caravan_post.caravan_mileage %>
</p>

<p>
  <b>Caravan user name:</b>
  <%= @caravan_post.caravan_user_name %>
</p>

<p>
  <b>Caravan user phone:</b>
  <%= @caravan_post.caravan_user_phone %>
</p>

<p>
  <b>Caravan user email:</b>
  <%= @caravan_post.caravan_user_email %>
</p>

<p>
  <b>Caravan domicile type:</b>
  <%= @caravan_post.caravan_domicile_type_id %>
</p>

<p>
  <b>Caravan town type:</b>
  <%= @caravan_post.caravan_town_type_id %>
</p>


<%= link_to 'Edit', edit_caravan_post_path(@caravan_post) %> |
<%= link_to 'Back', caravan_posts_path %>
