<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @menu.name %>
</p>

<p>
  <b>Type:</b>
  <%= @menu.type_id %>
</p>

<p>
  <b>Sub type:</b>
  <%= @menu.sub_type_id %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
