<h1>Listing boat_sub_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_sub_types.each do |boat_sub_type| %>
  <tr>
    <td><%= boat_sub_type.name %></td>
    <td><%= link_to 'Show', boat_sub_type %></td>
    <td><%= link_to 'Edit', edit_boat_sub_type_path(boat_sub_type) %></td>
    <td><%= link_to 'Destroy', boat_sub_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat sub type', new_boat_sub_type_path %>
