<h1>Listing model_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Make</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @model_sections.each do |model_section| %>
  <tr>
    <td><%= model_section.name %></td>
    <td><%= model_section.make_id %></td>
    <td><%= link_to 'Show', model_section %></td>
    <td><%= link_to 'Edit', edit_model_section_path(model_section) %></td>
    <td><%= link_to 'Destroy', model_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model section', new_model_section_path %>
