<%= form_for(@caravan_mileage) do |f| %>
  <% if @caravan_mileage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caravan_mileage.errors.count, "error") %> prohibited this caravan_mileage from being saved:</h2>

      <ul>
      <% @caravan_mileage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
