<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @domicile_type_section.name %>
</p>

<p>
  <b>Boats position town type:</b>
  <%= @domicile_type_section.boats_position_town_type_id %>
</p>


<%= link_to 'Edit', edit_domicile_type_section_path(@domicile_type_section) %> |
<%= link_to 'Back', domicile_type_sections_path %>
