<h1>Listing boat_user_phones</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_user_phones.each do |boat_user_phone| %>
  <tr>
    <td><%= boat_user_phone.name %></td>
    <td><%= link_to 'Show', boat_user_phone %></td>
    <td><%= link_to 'Edit', edit_boat_user_phone_path(boat_user_phone) %></td>
    <td><%= link_to 'Destroy', boat_user_phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat user phone', new_boat_user_phone_path %>
