<h1>New dog</h1>
 
<% form_for @dog, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
 
  <div id='uploads' style='border: 1px solid silver'>
    <%= f.render_associated_form(@dog.uploads, :new => 5) %>
  </div>
 
  <%= f.add_associated_link('Add another photo', @dog.uploads.build) %>
 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
