<h1>Listing caravan_cover_image_uids</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @caravan_cover_image_uids.each do |caravan_cover_image_uid| %>
  <tr>
    <td><%= caravan_cover_image_uid.name %></td>
    <td><%= link_to 'Show', caravan_cover_image_uid %></td>
    <td><%= link_to 'Edit', edit_caravan_cover_image_uid_path(caravan_cover_image_uid) %></td>
    <td><%= link_to 'Destroy', caravan_cover_image_uid, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Caravan cover image uid', new_caravan_cover_image_uid_path %>
