<h1>Listing vehicle_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicle_classes.each do |vehicle_class| %>
  <tr>
    <td><%= vehicle_class.name %></td>
    <td><%= link_to 'Show', vehicle_class %></td>
    <td><%= link_to 'Edit', edit_vehicle_class_path(vehicle_class) %></td>
    <td><%= link_to 'Destroy', vehicle_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vehicle class', new_vehicle_class_path %>
