<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_town_type_section.name %>
</p>

<p>
  <b>Machine domicile type:</b>
  <%= @machine_town_type_section.Machine_Domicile_type_id %>
</p>


<%= link_to 'Edit', edit_machine_town_type_section_path(@machine_town_type_section) %> |
<%= link_to 'Back', machine_town_type_sections_path %>
