<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_color_type_section.name %>
</p>

<p>
  <b>Machine color:</b>
  <%= @machine_color_type_section.Machine_color_id %>
</p>


<%= link_to 'Edit', edit_machine_color_type_section_path(@machine_color_type_section) %> |
<%= link_to 'Back', machine_color_type_sections_path %>
