<h1>Listing car_town_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Car domicile type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @car_town_types.each do |car_town_type| %>
  <tr>
    <td><%= car_town_type.name %></td>
    <td><%= car_town_type.car_domicile_type_id %></td>
    <td><%= link_to 'Show', car_town_type %></td>
    <td><%= link_to 'Edit', edit_car_town_type_path(car_town_type) %></td>
    <td><%= link_to 'Destroy', car_town_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car town type', new_car_town_type_path %>
