<h1>Listing moto_mileages</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moto_mileages.each do |moto_mileage| %>
  <tr>
    <td><%= moto_mileage.name %></td>
    <td><%= link_to 'Show', moto_mileage %></td>
    <td><%= link_to 'Edit', edit_moto_mileage_path(moto_mileage) %></td>
    <td><%= link_to 'Destroy', moto_mileage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moto mileage', new_moto_mileage_path %>
