<h1>Listing machine_fuel_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machine_fuel_types.each do |machine_fuel_type| %>
  <tr>
    <td><%= machine_fuel_type.name %></td>
    <td><%= link_to 'Show', machine_fuel_type %></td>
    <td><%= link_to 'Edit', edit_machine_fuel_type_path(machine_fuel_type) %></td>
    <td><%= link_to 'Destroy', machine_fuel_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine fuel type', new_machine_fuel_type_path %>
