<h1>Listing boat_user_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_user_names.each do |boat_user_name| %>
  <tr>
    <td><%= boat_user_name.name %></td>
    <td><%= link_to 'Show', boat_user_name %></td>
    <td><%= link_to 'Edit', edit_boat_user_name_path(boat_user_name) %></td>
    <td><%= link_to 'Destroy', boat_user_name, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat user name', new_boat_user_name_path %>
