<h1>Listing fuel_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fuel_types.each do |fuel_type| %>
  <tr>
    <td><%= fuel_type.name %></td>
    <td><%= link_to 'Show', fuel_type %></td>
    <td><%= link_to 'Edit', edit_fuel_type_path(fuel_type) %></td>
    <td><%= link_to 'Destroy', fuel_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fuel type', new_fuel_type_path %>
