<h1>Listing caravan_make_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Caravan type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @caravan_make_sections.each do |caravan_make_section| %>
  <tr>
    <td><%= caravan_make_section.name %></td>
    <td><%= caravan_make_section.caravan_type_id %></td>
    <td><%= link_to 'Show', caravan_make_section %></td>
    <td><%= link_to 'Edit', edit_caravan_make_section_path(caravan_make_section) %></td>
    <td><%= link_to 'Destroy', caravan_make_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Caravan make section', new_caravan_make_section_path %>
