<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_make_section.name %>
</p>

<p>
  <b>Caravan type:</b>
  <%= @caravan_make_section.caravan_type_id %>
</p>


<%= link_to 'Edit', edit_caravan_make_section_path(@caravan_make_section) %> |
<%= link_to 'Back', caravan_make_sections_path %>
