		<h1 align="left">Ajoneuvot</h1>

<p align="">
         <div id="displayBoxTop" class="displayBox">
    <div id="displaySmsText">
      Oma ilmoituksesi t&auml;h&auml;n: l&auml;het&auml; viesti AJONEUVO H1234 (ilmoituksesi ID) numeroon 17233, hinta 0,95&euro;

      
        Tai k&auml;yt&auml; <a href="#" onclick="showApeMsg();; return false;">APE-Kukkaroa <img alt="" src="/images/ape_logo_16x16.png?1295214851" /></a>
        
    </div>
<br>
</br>
    <h3>N&auml;yteikkuna</h3>
  </div>
  <div id="displayBoxMiddle" class="displayBox">
 <div>

 <div>
<td>
<% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %> <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %> <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %> <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %>



<h5>
Bmw 520 <br> 2.0 99 244tkm <br> 8000 €
</h5>
  <td align = "center">
 <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %> <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %> <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %> <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %>



<h5>
Bmw 520 <br> 2.0 99 244tkm <br> 8000 €
</h5>
 

</td>

  <a align=""></a>
  	</p>


