<h1>Listing boats_domicile_type_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Boats position town type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boats_domicile_type_sections.each do |boats_domicile_type_section| %>
  <tr>
    <td><%= boats_domicile_type_section.name %></td>
    <td><%= boats_domicile_type_section.boats_position_town_type_id %></td>
    <td><%= link_to 'Show', boats_domicile_type_section %></td>
    <td><%= link_to 'Edit', edit_boats_domicile_type_section_path(boats_domicile_type_section) %></td>
    <td><%= link_to 'Destroy', boats_domicile_type_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boats domicile type section', new_boats_domicile_type_section_path %>
