<h1>Listing subtype_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subtype_sections.each do |subtype_section| %>
  <tr>
    <td><%= subtype_section.name %></td>
    <td><%= subtype_section.type_id %></td>
    <td><%= link_to 'Show', subtype_section %></td>
    <td><%= link_to 'Edit', edit_subtype_section_path(subtype_section) %></td>
    <td><%= link_to 'Destroy', subtype_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subtype section', new_subtype_section_path %>
