<%= form_for(@caravan_town_type) do |f| %>
  <% if @caravan_town_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caravan_town_type.errors.count, "error") %> prohibited this caravan_town_type from being saved:</h2>

      <ul>
      <% @caravan_town_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :caravan_domicile_type_id %><br />
    <%= f.text_field :caravan_domicile_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
