<%= form_for(@town_type) do |f| %>
  <% if @town_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@town_type.errors.count, "error") %> prohibited this town_type from being saved:</h2>

      <ul>
      <% @town_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :domicile_type_id %><br />
    <%= f.text_field :domicile_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
