<h1>Listing town_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Domicile type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @town_types.each do |town_type| %>
  <tr>
    <td><%= town_type.name %></td>
    <td><%= town_type.domicile_type_id %></td>
    <td><%= link_to 'Show', town_type %></td>
    <td><%= link_to 'Edit', edit_town_type_path(town_type) %></td>
    <td><%= link_to 'Destroy', town_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Town type', new_town_type_path %>
