<h1>Listing moto_town_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Moto domicile type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moto_town_types.each do |moto_town_type| %>
  <tr>
    <td><%= moto_town_type.name %></td>
    <td><%= moto_town_type.moto_domicile_type_id %></td>
    <td><%= link_to 'Show', moto_town_type %></td>
    <td><%= link_to 'Edit', edit_moto_town_type_path(moto_town_type) %></td>
    <td><%= link_to 'Destroy', moto_town_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moto town type', new_moto_town_type_path %>
