<h1>Listing sub_vehicles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vehicle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_vehicles.each do |sub_vehicle| %>
  <tr>
    <td><%= sub_vehicle.name %></td>
    <td><%= sub_vehicle.vehicle_id %></td>
    <td><%= link_to 'Show', sub_vehicle %></td>
    <td><%= link_to 'Edit', edit_sub_vehicle_path(sub_vehicle) %></td>
    <td><%= link_to 'Destroy', sub_vehicle, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub vehicle', new_sub_vehicle_path %>
