<h1>Listing moto_gearbox_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moto_gearbox_types.each do |moto_gearbox_type| %>
  <tr>
    <td><%= moto_gearbox_type.name %></td>
    <td><%= link_to 'Show', moto_gearbox_type %></td>
    <td><%= link_to 'Edit', edit_moto_gearbox_type_path(moto_gearbox_type) %></td>
    <td><%= link_to 'Destroy', moto_gearbox_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moto gearbox type', new_moto_gearbox_type_path %>
