<h1>Listing car_make_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Car type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @car_make_sections.each do |car_make_section| %>
  <tr>
    <td><%= car_make_section.name %></td>
    <td><%= car_make_section.car_type_id %></td>
    <td><%= link_to 'Show', car_make_section %></td>
    <td><%= link_to 'Edit', edit_car_make_section_path(car_make_section) %></td>
    <td><%= link_to 'Destroy', car_make_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car make section', new_car_make_section_path %>
