<h1>Listing boat_year_models</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_year_models.each do |boat_year_model| %>
  <tr>
    <td><%= boat_year_model.name %></td>
    <td><%= link_to 'Show', boat_year_model %></td>
    <td><%= link_to 'Edit', edit_boat_year_model_path(boat_year_model) %></td>
    <td><%= link_to 'Destroy', boat_year_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat year model', new_boat_year_model_path %>
