<h1>Listing car_cover_image_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @car_cover_image_names.each do |car_cover_image_name| %>
  <tr>
    <td><%= car_cover_image_name.name %></td>
    <td><%= link_to 'Show', car_cover_image_name %></td>
    <td><%= link_to 'Edit', edit_car_cover_image_name_path(car_cover_image_name) %></td>
    <td><%= link_to 'Destroy', car_cover_image_name, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car cover image name', new_car_cover_image_name_path %>
