<h1>Listing boat_town_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Boat domicile type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_town_types.each do |boat_town_type| %>
  <tr>
    <td><%= boat_town_type.name %></td>
    <td><%= boat_town_type.boat_domicile_type_id %></td>
    <td><%= link_to 'Show', boat_town_type %></td>
    <td><%= link_to 'Edit', edit_boat_town_type_path(boat_town_type) %></td>
    <td><%= link_to 'Destroy', boat_town_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat town type', new_boat_town_type_path %>
