<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_town_type.name %>
</p>

<p>
  <b>Boat domicile type:</b>
  <%= @boat_town_type.boat_domicile_type_id %>
</p>


<%= link_to 'Edit', edit_boat_town_type_path(@boat_town_type) %> |
<%= link_to 'Back', boat_town_types_path %>
