<h1>Listing machine_colors</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machine_colors.each do |machine_color| %>
  <tr>
    <td><%= machine_color.name %></td>
    <td><%= link_to 'Show', machine_color %></td>
    <td><%= link_to 'Edit', edit_machine_color_path(machine_color) %></td>
    <td><%= link_to 'Destroy', machine_color, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine color', new_machine_color_path %>
