<h1>Listing car_user_emails</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @car_user_emails.each do |car_user_email| %>
  <tr>
    <td><%= car_user_email.name %></td>
    <td><%= link_to 'Show', car_user_email %></td>
    <td><%= link_to 'Edit', edit_car_user_email_path(car_user_email) %></td>
    <td><%= link_to 'Destroy', car_user_email, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car user email', new_car_user_email_path %>
