<%= form_for(@length) do |f| %>
  <% if @length.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@length.errors.count, "error") %> prohibited this length from being saved:</h2>

      <ul>
      <% @length.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
