<h1>Listing boat_town_type_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Boat domicile type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_town_type_sections.each do |boat_town_type_section| %>
  <tr>
    <td><%= boat_town_type_section.name %></td>
    <td><%= boat_town_type_section.boat_domicile_type_id %></td>
    <td><%= link_to 'Show', boat_town_type_section %></td>
    <td><%= link_to 'Edit', edit_boat_town_type_section_path(boat_town_type_section) %></td>
    <td><%= link_to 'Destroy', boat_town_type_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat town type section', new_boat_town_type_section_path %>
