<h1>Listing moto_makes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sub vehicle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moto_makes.each do |moto_make| %>
  <tr>
    <td><%= moto_make.name %></td>
    <td><%= moto_make.sub_vehicle_id %></td>
    <td><%= link_to 'Show', moto_make %></td>
    <td><%= link_to 'Edit', edit_moto_make_path(moto_make) %></td>
    <td><%= link_to 'Destroy', moto_make, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moto make', new_moto_make_path %>
