<h1>Listing machine_domicile_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machine_domicile_types.each do |machine_domicile_type| %>
  <tr>
    <td><%= machine_domicile_type.name %></td>
    <td><%= link_to 'Show', machine_domicile_type %></td>
    <td><%= link_to 'Edit', edit_machine_domicile_type_path(machine_domicile_type) %></td>
    <td><%= link_to 'Destroy', machine_domicile_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine domicile type', new_machine_domicile_type_path %>
