<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @moto_post.vehicle_id %>
</p>

<p>
  <b>Sub vehicle:</b>
  <%= @moto_post.sub_vehicle_id %>
</p>

<p>
  <b>Moto make:</b>
  <%= @moto_post.moto_make_id %>
</p>

<p>
  <b>Moto model:</b>
  <%= @moto_post.moto_model_id %>
</p>

<p>
  <b>Moto cover image uid:</b>
  <%= @moto_post.moto_cover_image_uid %>
</p>

<p>
  <b>Moto cover image name:</b>
  <%= @moto_post.moto_cover_image_name %>
</p>

<p>
  <b>Moto registration number:</b>
  <%= @moto_post.moto_registration_number %>
</p>

<p>
  <b>Moto price:</b>
  <%= @moto_post.moto_price %>
</p>

<p>
  <b>Moto year model:</b>
  <%= @moto_post.moto_year_model %>
</p>

<p>
  <b>Moto color:</b>
  <%= @moto_post.moto_color_id %>
</p>

<p>
  <b>Moto color type:</b>
  <%= @moto_post.moto_color_type_id %>
</p>

<p>
  <b>Moto engine type:</b>
  <%= @moto_post.moto_engine_type_id %>
</p>

<p>
  <b>Moto engine size:</b>
  <%= @moto_post.moto_engine_size_id %>
</p>

<p>
  <b>Moto information:</b>
  <%= @moto_post.moto_information %>
</p>

<p>
  <b>Moto mileage:</b>
  <%= @moto_post.moto_mileage %>
</p>

<p>
  <b>Moto drive type:</b>
  <%= @moto_post.moto_drive_type_id %>
</p>

<p>
  <b>Moto user name:</b>
  <%= @moto_post.moto_user_name %>
</p>

<p>
  <b>Moto user phone:</b>
  <%= @moto_post.moto_user_phone %>
</p>

<p>
  <b>Moto user email:</b>
  <%= @moto_post.moto_user_email %>
</p>

<p>
  <b>Moto domicile type:</b>
  <%= @moto_post.moto_domicile_type_id %>
</p>

<p>
  <b>Moto town type:</b>
  <%= @moto_post.moto_town_type_id %>
</p>


<%= link_to 'Edit', edit_moto_post_path(@moto_post) %> |
<%= link_to 'Back', moto_posts_path %>
