<h1>Listing boat_cover_image_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_cover_image_names.each do |boat_cover_image_name| %>
  <tr>
    <td><%= boat_cover_image_name.name %></td>
    <td><%= link_to 'Show', boat_cover_image_name %></td>
    <td><%= link_to 'Edit', edit_boat_cover_image_name_path(boat_cover_image_name) %></td>
    <td><%= link_to 'Destroy', boat_cover_image_name, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat cover image name', new_boat_cover_image_name_path %>
