
<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @post.vehicle %>
</p>

<p>
  <b>Make:</b>
  <%= @post.make %>
</p>

<p>
  <b>Model:</b>
  <%= @post.model %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br>
</br>

<p> <p> <p> </table>
<div class="right_align mt10"><a class="pdf_icon small_text9 bold" href="http://script.nettiauto.com/extra/template/kauppakirja.pdf" title="Kauppakirjapohja PDF" target="_blank">Kauppakirjapohja (PDF)</a></div>

<div class="bubble_box" id="contact" style="display:none;">
<div class="buble_border">
    <div class="right_align mt5"><a href="javascript:;" onclick="jQuery('#captcha_image').html();return hideBubble('contact');" class="clear_icon_white"><span onclick="jQuery.fn.colorbox.close();">Sulje</span></a></div>
    <div class="buble_content">




