<h1>Listing moto_engine_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moto_engine_types.each do |moto_engine_type| %>
  <tr>
    <td><%= moto_engine_type.name %></td>
    <td><%= link_to 'Show', moto_engine_type %></td>
    <td><%= link_to 'Edit', edit_moto_engine_type_path(moto_engine_type) %></td>
    <td><%= link_to 'Destroy', moto_engine_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moto engine type', new_moto_engine_type_path %>
