<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_town_type_section.name %>
</p>

<p>
  <b>Caravan domicile type:</b>
  <%= @caravan_town_type_section.caravan_domicile_type_id %>
</p>


<%= link_to 'Edit', edit_caravan_town_type_section_path(@caravan_town_type_section) %> |
<%= link_to 'Back', caravan_town_type_sections_path %>
