<h1>Listing caravan_model_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Caravan make section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @caravan_model_sections.each do |caravan_model_section| %>
  <tr>
    <td><%= caravan_model_section.name %></td>
    <td><%= caravan_model_section.caravan_make_section_id %></td>
    <td><%= link_to 'Show', caravan_model_section %></td>
    <td><%= link_to 'Edit', edit_caravan_model_section_path(caravan_model_section) %></td>
    <td><%= link_to 'Destroy', caravan_model_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Caravan model section', new_caravan_model_section_path %>
