<%= form_for(@cover_image_uid) do |f| %>
  <% if @cover_image_uid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cover_image_uid.errors.count, "error") %> prohibited this cover_image_uid from being saved:</h2>

      <ul>
      <% @cover_image_uid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
