<h1>Listing boat_make_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Subtype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_make_sections.each do |boat_make_section| %>
  <tr>
    <td><%= boat_make_section.name %></td>
    <td><%= boat_make_section.subtype_id %></td>
    <td><%= link_to 'Show', boat_make_section %></td>
    <td><%= link_to 'Edit', edit_boat_make_section_path(boat_make_section) %></td>
    <td><%= link_to 'Destroy', boat_make_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat make section', new_boat_make_section_path %>
